.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# PocketBase
/pocketbase-server/pb_data/
/pocketbase-server/pb_migrations/
/pocketbase-server/pocketbase
/pocketbase-server/pocketbase.zip

# Environment
.env
.env.local
